@media (min-width: 1200px)
    .container
        width: auto

@media (max-width: 1200px)
    .container
        max-width: 960px
        width: auto
    .hotel
        &__slide
            width: 590px  
    .hotel
        &-slider
            &__image
                width: 100%
                height: 100%
                object-fit: cover
    .card
        width: 230px
        height: 230px
        background-color: $dark
    .packages
        &__title
            font-size: 32px
            text-align: center
            margin: 0
        &__big
            &_card
                grid-column: span 2
        &__hotel
            &_info
                left: 300px
        &__card
            width: 300px
        &__hotel
            &_information
                height: 250px
                padding: 20px
        &__big
            &_name
                margin-bottom: 20px
        &__discription
            margin-bottom: 25px
        &__big
            &_ul
                margin-bottom: 20px
        &__bottom
            &_
    .footer
        &__input
            &-group
                flex-basis: 100%
        

@media (max-width: 992px)
    .container, .newsletter-wrapper
        max-width: 700px
    .navbar
        &-top
            padding: 30px 0
            &__search
                margin-left: auto
        &-menu
            padding: 22px 0
            &__link
                font-size: 12px
                line-height: 15px
    .logo
        max-width: 132px
    .search
        &__input
            width: 340px
    .hotel
        padding-bottom: 60px
        &-grid
            flex-direction: column
        &__slide
            margin-bottom: 30px
        &-details
            flex-direction: row
        &-slider
            width: 100%
    .booking
        width: 340px
        padding: 20px
    .map
        width: 340px
    .packages
        &-wrapper
            grid-template-columns: repeat(2, 1fr)
        &__title
            grid-row: 1
            grid-column: 1 / 3
            font-size: 30px
            margin: 0
        &__big
            &_card
                grid-row: 2
                grid-column: span 2
        &__hotel
            &_info
                padding: 45px 21px 30px 44px
                left: 366px
        &__card
            width: 335px
            height: 500px
            &_belle-mare
                grid-row: 3
                grid-column: 1
            &_white-palace
                grid-row: 3
                grid-column: 2
            &_luxury-palace
                grid-row: 4
                grid-column: 1
            &_five-star
                grid-row: 4
                grid-column: 2
            &_blue-haven
                display: none
    .reviews
        padding: 40px 0 60px
        &-slider
            &__item
                max-width: 580px
        &__title
            font-weight: bold
            font-size: 30px
            line-height: 38px
            margin-bottom: 50px
    .activities
        padding: 60px 0 70px
        &-wrapper
            flex-wrap: wrap
        &__card
            margin-bottom: 20px
            &__blue-haven
                display: none
    .card
        width: 340px
        height: 255px
    .footer
        padding: 73px 0 33px
        &-wrapper
            grid-template-columns: repeat(6, 1fr)
            grid-row-gap: 40px
        &__input
            &-group
                flex-basis: 48%
        &__logo
            width: 104px
            grid-row: 1 / 2
            grid-column: span 2
        &__social
            &-network
                grid-row: 1 / 2
                grid-column: span 4
                align-self: center
        &__categories
            grid-row: 2 / 3
            grid-column: span 2
        &__legal
            grid-column: span 2
        &__additional
            grid-column: span 2
        &__message
            width: 100%
        &__contact
            &-details
                grid-column: span 5
                grid-row: 3
            &-form
                grid-column: span 5
                grid-row: 4
        &__bottom
            &-ul
                grid-column: 1 / 5
                justify-content: flex-start
            &-payments
                grid-column: 5 / 7
    .modal
        &__dialog
            padding: 30px 70px
        &__form
            &--bottom
                flex-wrap: wrap
        &__info
            margin-top: 15px

@media (max-width: 768px)
    body
        padding-top: 70px
    .container
        max-width: 576px
        width: 92%
    .navbar
        &-top
            height: 70px
            &__user
                &_mobile
                    &_hidden
                        transform: scale(0)
                    &_visible
                        display: flex
            &__search
                &_mobile
                    &_hidden
                        transform: scale(0)
                    &_visible
                        display: flex
                        width: 90%
                        margin-bottom: 40px
        &__mobile
            &_fixed
                position: fixed
                left: 0
                top: 0
                right: 0
                z-index: 99 
        &-bottom
            display: none
            position: fixed
            left: 0
            right: 0
            bottom: 0
            top: 70px
            padding-top: 30px
            &_visible
                display: block
        &-menu
            flex-direction: column
            &__item
                margin-bottom: 20px
                &_mobile
                    &_visible
                        display: block
            &__user
                flex-direction: column
                justify-content: center
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            align-items: center
            flex-direction: column
            justify-content: space-between
            background-color: $light
            border: none
            outline: none
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .stars
        display: flex
        flex-basis: 50%
        justify-content: flex-end
        &__rating
            margin-left: 3px
            height: 6px
            width: 6px
    .hotel
        padding: 18px 0 40px 0 
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
        &-details
            flex-direction: column
            min-height: 450px
        &-slider
            height: 350px
        &__slider
            margin-bottom: 20px
    .booking
        width: 100%
    .map
        width: 100%
    .packages
        &-wrapper
            grid-gap: 20px
        &__hotel
            &_info
                left: 300px
                padding-left: 30px
        &__discription
            font-size: 13px
            margin-bottom: 20px
        &__card
            width: 280px
            &_blue-haven
                display: none
            &_name
                margin-bottom: 20px
        &__discription
            margin-bottom: 25px
        &__big
            &_ul
                margin-bottom: 16px
    .newsletter
        &-wrapper
            flex-direction: column
            align-items: flex-start
            max-width: 576px
            width: 92%
    .reviews
        padding: 40px 0 50px
        &-slider
            &__item
                padding: 0 30px 30px
                &::before, &::after
                    display: none
            &__button
                top: 32px
                &--prev
                    left: 50%
                    transform: translate(-50%,0)
                    margin-left: -100px
                &--next
                    right: 50%
                    transform: translate(50%,0)
                    margin-right: -100px
        &__title
            font-weight: bold    
            font-size: 18px
            line-height: 23px
            max-width: 245px
            margin: 0 auto 42px
    .card
        width: 48%
        height: 255px
    .footer
        &__additional
            grid-row: 3
            grid-column: span 3
        &__categories
            grid-row: 2
            grid-column: 1 / 3
        &__legal
            grid-row: 2
            grid-column: 4 / 6
        &__contact
            &-details
                grid-row: 4
                grid-column: span 6
            &-form
                    grid-row: 5
                    grid-column: span 6
        &__input
            &-group
                flex-basis: 100%
        &__bottom
            display: flex
            flex-direction: column
            align-items: flex-start
            &-ul
                margin-bottom: 10px
    .modal
        &__dialog
            position: fixed
            width: 400px
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            padding: 30px 50px
        &__input
            width: 100%
            height: 40px
            margin-bottom: 15px
            font-size: 12px
            line-height: 15px
            padding: 15px 20px
        &__form
            &--bottom
                flex-wrap: wrap
        &__button
            width: 100%
        &__info
            order: -1
            margin-top: 0
            margin-bottom: 10px


@media (max-width: 630px)
    .packages
        padding: 20px 0 40px
        &-wrapper
            grid-template-columns: 1fr
            grid-row-gap: 20px
            grid-column-gap: 0px
        &__title
            grid-row: 1
            grid-column: 1
            font-weight: bold
            font-size: 20px
            padding: 0
        &__big
            &_card
                display: none
        &__image
            width: 100%
            object-position: 0 -50px
        &__image
            &_five
                object-position: 0 -200px
        &__card
            height: 350px
            &_blue-haven
                display: block
                grid-row: 2
                grid-column: 1
                width: 100%
            &_belle-mare
                grid-row: 3
                grid-column: 1
                width: 100%
            &_white-palace
                grid-row: 4
                grid-column: 1
                width: 100%
            &_luxury-palace
                grid-row: 5
                grid-column: 1
                width: 100%
            &_five-star
                grid-row: 6
                grid-column: 1
                width: 100%
        &__hotel
            &_information
                display: flex
                justify-content: space-between
                padding: 30px 21px 25px 32px
                height: 50%
        &__name
            margin-bottom: 20px
        &__li
            margin-bottom: 11px
        &__old
            &_price
                margin-bottom: 5px
        &__best
            &_price
                font-size: 20px
                margin-bottom: 20px
        &__button
            font-size: 14px
            padding: 10px 30px
        &__mobile
            &_wrapper
                display: flex
                flex-direction: column
                align-items: flex-end
        &__bottom
            &_wrap
                flex-direction: column
                align-items: flex-end
                    
@media (max-width: 576px)
    .container
        width: 90%
    .navbar
        &-bottom
            &_visible
                display: block
    .logo
        min-width: 99px
    .hotel
        &__slider
            margin-bottom: 20px
        &-slider
            height: 250px
    .newsletter
        padding: 76px 0 83px
        &__title
            margin-bottom: 37px
    &-title
        font-weight: 300
        font-size: 20px
        line-height: 25px
        &__strong
            font-weight: 600
            font-size: 30px
            line-height: 38px
    .subscribe
        width: 100%
    .activities
        padding: 40px 0 60px
        &__title
            font-weight: bold
            font-size: 18px
            line-height: 23px
            margin-bottom: 36px
    .card
        width: 100%
    .footer
        padding: 69px 0 21px
        &-wrapper
            grid-template-columns: 1fr
            grid-row-gap: 30px
            grid-column-gap: 0
        &__logo
            grid-row: 1
            grid-column: 1
        &__additional
            grid-row: 4
            grid-column: 1
        &__categories
            grid-row: 3
            grid-column: 1 / 3
        &__legal
            grid-row: 5
            grid-column: 1
        &__contact
            &-details
                grid-row: 6
                grid-column: 1
            &-form
                grid-row: 7
                grid-column: 1
        &__social
            &-links
                margin: 0
            &-network
                grid-row: 2
                grid-column: 1
                flex-direction: column
                align-items: flex-start
        &__form
            &--bottom
                display: flex
                flex-direction: column
                align-items: flex-start
        &__info
            order: -1
            margin-bottom: 15px
        &__message
            margin-bottom: 15px
    .modal
        &__dialog
            padding: 30px 40px
        &__form
            &--bottom
                flex-wrap: wrap
        &__button
            width: 100%
        &__info
            order: -1
            margin-top: 0
            margin-bottom: 10px

@media (max-width: 456px)
    .container
        width: 90%
    .hotel
        &-slider
            height: 179px

@media (min-width: 320px) and (max-width: 480px)
    .container
        width: 90%
    .navbar
        &-menu
            &__search
                &_mobile
                    &_visible
                        width: 70%
                        left: 15%
    .logo
        min-width: 99px
    .packages
        &__card
            height: 450px
        &__hotel
            &_information
                height: 55%
                display: flex
                flex-direction: column
                align-items: flex-start
        &__mobile
            &_wrapper
                justify-content: flex-start
                align-items: flex-start
                width: 100%
        &__bottom
            &_wrap
                flex-direction: row
                width: inherit
                justify-content: space-between
                align-items: center
        &__ul
            margin-bottom: 20px
        &__best
            &_price
                margin: 0
        &__button
            font-size: 12px
            padding: 10px 20px
    .modal
        &__dialog
            width: 85%
            padding: 30px
        &__input
            width: 100%
            margin-bottom: 5px
            padding: 10px 20px
            height: 30px
        &__message
            width: 100%
            outline: none
            margin-bottom: 10px
            font-size: 10px
            line-height: 15px
            resize: none
            padding: 10px 20px
        &__form
            &--bottom
                flex-wrap: wrap
        &__button
            width: 100%
            height: 40px
            padding: 12px
        &__info
            order: -1
            margin-top: 0
            margin-bottom: 10px
            font-size: 10px
    .invalid
        font-size: 12px
    
    